::-moz-selection {
    /* Code for Firefox */
    background: #00b01f;
    color: #ffffff;
}
::selection {
    background: #00b01f;
    color: #ffffff;
}

/* BASIC PAGE FORMATTING */
/* body */
body {
    background-color: #3058bc;
    background-image: url(img/bubbles-bg.gif);
    text-align: center;
}
a {
    color: #009543;
}
code {
    font-size: 110%;
    background-color: #1280008c;
    padding: 1px 2px;
    color: #ffffff;
}
h1 {
    text-shadow:
        2px 2px #76d7ff,
        4px 4px #c7ff25;
    margin: 9px;
}
h2 {
    margin: 3px;
    font-size: 15pt;
}
p {
    margin: 5px;
}
ul {
    margin: 5px;
    margin-bottom: 13px;
}
img{
    max-width:100%;
}
/* dateline */
.dateline {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* decoration */
.bg-shadow {
    text-shadow:
        2px 2px #00b5ff85,
        4px 4px #c7ff25;
}
.bg-shadow-box {
    box-shadow:
        2px 2px #00b5ff85,
        4px 4px #c7ff25;
}
.aside {
    font-style: italic;
}
/* nav box - colorful buttons */
nav > a {
    padding: 1px 6px;
    border: 3px outset #6f9eff;
    border-radius: 3px;
    text-decoration: none;
    color: #0034d4;
    font-size: larger;
    margin-top: 20px;
    display: inline;
    justify-content: center;
    align-items: center;
}
/* footer */
footer {
    border-top: solid 2px #000000;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-top: 15px;
}
footer > a {
    text-align: center;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* content div */
#content {
    border: #000000 solid 2px;
    width: auto;
    max-width: 800px;
    text-align: justify;
    margin: auto;
    background-color: #b4caff;
    padding:5px;
}
.highlightOnHover:hover {
    display: block;
    color: #ff0000;
    background-color: #ff0000;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
}
/* special divs */
#update-log {
    border:double black;
    overflow-y:auto;
    height:auto;
    max-height:50vw;
}
#box-8831 {
    border: dotted 2px black;
    padding: 5px;
    width: 66%;
    min-width: 100px;
    margin: auto;
    text-align: center;
}
#box-8831 img {
    margin: auto;
}
#box-8831 textarea {
    margin: auto;
}
.back-button{
    text-align:center;
}
#blog-posts-table{
    width:100%;
    margin:5px;
}
