img {
    width: 95%;
    max-width: 500px;
    border: 2px #c8c8c8 solid;
    margin: 3px;
    text-align: center;
}
a {
    color: white;
}
body {
    background-color: #4b8191;
    color: white;
    text-align:center;
}
h1 {
    color: white;
    text-shadow:
        2px 2px rgb(0, 152, 214),
        4px 4px rgb(169, 227, 0);
}
.slideshow {
    height:auto;
    aspect-ratio: 16 / 9;
    width: 80%;
    max-width:569px;
    object-fit: contain;
}
#content{
    text-align:center;
}
